/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../webfonts/open-sans/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../webfonts/open-sans/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/open-sans/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/open-sans/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/open-sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../webfonts/open-sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/open-sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/open-sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../webfonts/open-sans/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../webfonts/open-sans/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/open-sans/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/open-sans/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/open-sans/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../webfonts/open-sans/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/open-sans/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/open-sans/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/open-sans/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* FontAwesome - Brands */
@font-face {
  font-family: 'FontAwesome';
  src: url('../webfonts/fontawesome/fa-brands-400.eot');
  src: url('../webfonts/fontawesome/fa-brands-400.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/fontawesome/fa-brands-400.woff2') format('woff2'),
       url('../webfonts/fontawesome/fa-brands-400.woff') format('woff'),
       url('../webfonts/fontawesome/fa-brands-400.ttf') format('truetype'),
       url('../webfonts/fontawesome/fa-brands-400.svg#fontawesomeregular') format('svg');
}

/* FontAwesome - Solid */
@font-face {
  font-family: 'FontAwesome';
  src: url('../webfonts/fontawesome/fa-solid-900.eot');
  src: url('../webfonts/fontawesome/fa-solid-900.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/fontawesome/fa-solid-900.woff2') format('woff2'),
       url('../webfonts/fontawesome/fa-solid-900.woff') format('woff'),
       url('../webfonts/fontawesome/fa-solid-900.ttf') format('truetype'),
       url('../webfonts/fontawesome/fa-solid-900.svg#fontawesomeregular') format('svg');
}

body {
	padding-top: 0;
	background: #F7F7F7;
}

a {
	border: none;
}

a:hover {
	border-bottom: 1px dotted rgba(160, 160, 160, 0.65)
}

h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	letter-spacing: 0;
	font-weight: normal;
	margin-bottom: 0.8em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1.3em;
}

code {
	border: 0;
	color: #333;
	margin: 0;
	font-weight: bold;
}

pre code {
	border: 1px solid #ffcb94;
	font-weight: normal !important;
	overflow-x: auto;
}

#main {
	max-width: 980px;
}

#header {
	background-color: #f7f7f7;
	border-bottom: 0;
}

#header h1 {
	font-size: 1.4em;
	font-weight: lighter;
}

#header .links {
	border-left: 0;
}

#header .main ul li {
	border-left: 0;
}

#header .main ul li > a {
	color: #2672ec;
}

header p {
	text-transform: none;
	letter-spacing: 0;
	font-size: 0.9em;
}

#menu .links > li a h3 {
	font-size: 1em;
	margin-bottom: 0;
}

#intro header h2 {
	font-weight: lighter;
	margin-bottom: 0;
}

#intro header p {
	font-size: 1em;
}

.post {
	border: 0;
}

.post a {
	color: #2672ec;
}

.post > header {
	border-bottom-color: #F7F7F7;
	margin-bottom: 1.3em;
}

.post > header .meta {
	padding: 0.5em 3em 0.3em;
	border-left: 0;
}

.post > header .title {
	padding: 0.5em 3em 0.3em;
}

.post > header .title h1 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 5px;
}

.post > header .title h1 a {
	color: #3c3b3b;
}

.post > footer .stats {
	margin: 0;
}

.post > footer .actions {
	margin: 0;
}

blockquote p {
	margin: 10px 0;
}

.author .name {
	letter-spacing: 0.05em;
}

#sidebar {
	margin-top: 2.2em;
	min-width: 0;
}

.plugin > h2 {
	font-weight: normal !important;
	text-transform: uppercase;
}

.plugin ul {
	list-style: none !important;
	padding: 0 !important;
}

.plugin li {
	padding: 0 !important;
}

.plugin-pages ul.children {
	margin: 0 0 0 10px;
}

/* Only for Plugin tags */
.plugin-tags li {
	text-transform: capitalize;
}

/* Responsive images */

img {
	max-width: 100%;
	height: auto;
}

@media print {

	body {
	   font-size: 12pt;
	}
			
	#wrapper {
	   display: block;
	   padding: 0;
	}
	
	#header {
	   display: none;
	}
	
	#sidebar {
	   display: none;
	}
	
	.post {
	   padding-left: 2em;
	   padding-right: 2em;
	}
}